.jobTile {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  column-gap: 1.25rem;
  z-index: 1;
}

.hover {
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  left: -1.5rem;
  right: -1.5rem;
  padding-bottom: 0.25rem;
  z-index: 10;
  border-radius: 0.25rem;
}

.hover:hover {
  display: block;
  /* transform: scale(1); */
  background-color: gray;
  opacity: 0.1;
}

.leftPane {
  grid-column: span 2 / span 2;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  opacity: 0.5;
  z-index: 1;
}

.image {
  border: 2px solid lightgray;
  border-radius: 0.25rem;

  /* z-index: 10; */
}

.hover:hover + .leftPane > .image {
  /* border-width: 2px; */
  border-color: rgb(78, 78, 78);
}

.hover:hover ~ .rightPane > h1 {
  color: teal;
}

@media (prefers-color-scheme: dark) {
  .image {
    border-color: rgb(211, 211, 211, 0.1);
  }

  .hover:hover + .leftPane > .image {
    border-color: gray;
  }

  .hover:hover ~ .rightPane > h1 {
    color: turquoise;
  }
}

.rightPane {
  grid-column: span 6 / span 6;
  z-index: 1;
}

.rightPane > h1 {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.35rem;
  margin-bottom: 0.5rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.rightPane > p {
  font-weight: 300;
  font-size: 0.9rem;
  opacity: 0.75;
}

.skillList {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.skillList > li {
  border-radius: 1rem;
  background-color: rgba(0, 128, 128, 0.123);
  padding: 0.3rem 0.7rem;
  color: teal;
  font-size: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  .skillList > li {
    color: turquoise;
    background-color: rgba(64, 224, 208, 0.123);
  }
}
